.About {
  margin: 30px;
  margin-top: 90px;
  background: white;
  border-radius: 12px;
  padding-top: 25px;
  padding-bottom: 15px;
}
.About h3 {
  font-family: var(--header-font);
  text-align: center;
}
.About p {
  font-family: var(--paragraph-font);
  margin-right: 50px;
}
