.App {
  background: var(--secondary-color);
  margin: 40px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.App .coded-by {
  margin-bottom: 20px;
  font-size: 14px;
}
.App .coded-by a {
  color: #0e6efd;
  text-decoration: none;
}
.App .coded-by a:hover {
  color: #212529;
}
