.Contact {
  margin: 30px;
  margin-top: 50px;
}
.Contact .email {
  font-family: var(--paragraph-font);
  font-size: 25px;
  position: relative;
  left: 10px;
}
.Contact ul {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 50px;
}
.Contact li {
  margin-left: 15px;
  margin-right: 15px;
  background: var(--primary-color);
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 25px;
  font-size: 20px;
}
.Contact li :hover {
  color: #b4d1f7;
}
