.NavBar {
  font-family: var(--header-font);
}
.NavBar button {
  font-size: large;
  margin: 8px;
}
.NavBar .navbar-brand {
  border: none;
  background: transparent;
  font-size: large;
  margin: 18px;
}

@media (max-width: 650px) {
  .NavBar button {
    font-size: small;
    margin: 0;
  }
  .NavBar .navbar-brand {
    margin: 0px;
    font-size: small;
  }
}
