.NavBar {
  font-family: var(--header-font);
}
.NavBar button {
  font-size: large;
  margin: 8px;
}
.NavBar .navbar-brand {
  border: none;
  background: transparent;
  font-size: large;
  margin: 18px;
}
