.Projects {
  margin: 30px;
  background-color: white;
  border-radius: 12px;
  padding-top: 15px;
  padding-bottom: 20px;
}
.img-description {
  text-align: center;
  margin: 20px;
}
.Projects h3 {
  font-family: var(--header-font);
  margin-left: 88px;
}
.Projects p {
  font-family: var(--paragraph-font);
  margin: 2px;
  margin-top: 18px;
}
.Projects img {
  border-radius: 5px;
}
.Projects .view-project {
  margin-top: 5px;
}
.Projects .view-project a {
  text-decoration: none;
}
.Projects .view-project a:hover {
  color: #212529;
}
